.idea
/db/data/*
!/db/data/.gitkeep
node_modules
/www/*

/solr/data/*

!/www/html/
/www/html/*
!/www/html/composer.json
!/www/html/composer.lock
!/www/html/deploy.php
!/www/html/hosts.yml
!/www/html/.htpasswd
!/www/html/packages

!/www/html/bin
!/www/html/config

!/www/html/public
/www/html/public/*
!/www/html/public/.htaccess
!/www/html/public/favicon.ico
!/www/html/public/robots.txt
!/www/html/public/frontend
!/www/html/public/test.txt

!/www/html/public/typo3conf
/www/html/public/typo3conf/*
!/www/html/public/typo3conf/AdditionalConfiguration.Development.php
!/www/html/public/typo3conf/AdditionalConfiguration.Production.php
!/www/html/public/typo3conf/AdditionalConfiguration.php
!/www/html/public/typo3conf/LocalConfiguration.php
!/www/html/public/typo3conf/mask.json

!/www/html/packages/csabacentersite/Resources/Public/Dist
/www/html/packages/csabacentersite/Resources/Public/Dist/*
!/www/.ssh
/www/.ssh/*
!/www/.ssh/config

.DS_Store

