/*------------------------------------------------------------------
   bootstrap base carousel stlye
-------------------------------------------------------------------*/

.carousel-indicators li {
  padding: 5px;
  width: 60px;
  background-color: $light-red;
  margin-bottom: 1rem;
  display: none;
  @media (min-width: $lg) {
    display: block;
  }
}

.carousel-indicators .active {
  opacity: 0.8;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.2;
  background-color: $light-red;
}

.carousel-control-prev {
  left: 2%;
}

.carousel-control-next {
  right: 2%;
}