$dark-blue: #003a81;
$blue: #375e93;
$button-blue: #6083ab;
$white: #fff;
$hover-blue: #7896BE;

$dark-gray: #545454;
$gray: #6c6c6c;
$black-gray: #444444;
$light-gray: #efefef;
$dark-red: #e72525;
$light-red: #e91327;
$lighter-red: #fffafa;
$black: #222;
$cont-gray: #4a4a49;
$pink-red: #fd4d40;

$theme-color: $dark-red;
$secondary-theme-bg-color: $dark-gray;
$secondary-theme-color: $dark-gray;
$lead-gray: #767676;
$teal: #16c3b0;
$yellow: #fdb62f;

$box-shadow: rgba(0,0,0,.175);

$lg: 992px;

$gallery-bg-color: #e6e6e6;